@charset "UTF-8";


.section {
	
	border: 1px solid black;
	max-height: 500px;
	width: auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	margin-right: 100px;
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.log-entry {
	border: 1px solid black;
	height: auto;
	width: auto;
}

.location-comment {
	
		border: 1px solid black;
	height: auto;
	width: auto;
	display: flex;	
	 
	
}
.location-comment-response {
	border: 1px solid black;
	height: auto;
	width: auto;
	margin-left: 70px;
	display: flex;
}


.response-button {
	
	display: block;
	margin-left: auto;
}

.new-loc-response {
	display: grid;
	margin-left: auto;
}

.new-loc-comment{
	display: flex;
}

.comment-button{
	display: block;
}

.delete-button{
	display: inline-block;
	
}


.locDetailsImg {
	width: 250px;
	
}