@charset "UTF-8";


.logTable {
	background-color: whitesmoke;
}

.logTable table {
	width: 100%;
}

.logTable tbody, td, tfoot, th, thead, tr {
	padding: 10px;
}

.tableSectionLabel {
	background-color: #074999;
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: fantasy;
	padding: 10px;
}

.tableUsername {
	font-weight: bold;
}

.tableDate {
	font-style: italic;
	text-align: right;
}

.commentLabel {
	color: black;
	vertical-align: center;
}

/* p{
	color: pink;
} */
/*End of Global*/

