@charset "UTF-8";


.logTable {
	background-color: whitesmoke;
	width: 80%;
	margin: auto;
	margin-top: 50px;

	
	
}

.logTable table {
	width: 100%;
	border: solid #212529 1px;
}

.logTable tbody, td, tfoot, th, thead, tr {
	padding: 10px;
}


.tableSectionLabel {
	background-color: #074999;
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: fantasy;
	padding: 10px;
}

.tableUsername {
	font-weight: bold;
}

.tableDate {
	font-style: italic;
	text-align: right;
}

.commentLabel {
	color: black;
	vertical-align: center;
}


.logDetailsImg {
	width: 500px;
	
}

.pageContent {
	margin-bottom: 50px;
}

.logCommentSection form textarea {
	margin: 0 10px;
}

/* p{
	color: pink;
} */
/*End of Global*/

